.card {
  
}

.card__image {
  width: 413px;
  height: 413px;
  object-fit: cover;
  display: block;
  border-radius: 8px;
}
.card__content {
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: space-between;
}
.card__like-button {
  background-image: url(../images/Like\ Icon.svg);
  background-repeat: no-repeat;
  height: 20px;
  width: 23px;
  border: none;
  opacity: 40%;
  background-color: transparent;
  margin: 12px 0 0;
  color: #212121;
}
.card__like-button:hover {
  opacity: 100%;
}
.card__title {
  margin: 12px 0 0;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}
@media screen and (max-width: 627px) {
  .card {
    padding-bottom: 20px;
    max-width: 288px;
  }

  .card__title {
    font-size: 16px;
    line-height: 1;
  }
  .card__image {
    width: 288px;
    height: 288px;
  }
  .card__content {
    max-width: 288px;
  }
}
