.page {
  background-color: #fcf5e5;
  min-width: 100%;
  min-height: fit-content;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  background-color: #fcf5e5;
  margin: 0;
}
.page__section {
  margin: 0 auto;
  max-width: 1280px;
}

@media screen and (max-width: 627px) {
  .page__section {
    flex-direction: column;
    max-width: 288px;
    align-items: center;
    text-align: center;
    padding-top: 20px;
  }
}

@media screen and (max-width: 1317px) {
  .page__section {
    max-width: 850px;
  }
}
